body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: #305f72;
    width: 20%;
    height: 450px;
    margin: 50px auto;
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 20px;
    color: white;
    border: white solid 1px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #305f72;
  border-radius: 4px;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
  color: white;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #5f6769;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.appContainer {
    margin: 30px;
}

.homePage {
    padding: 25px;
    margin: 5px;
    background-color: #f7be16;
    border-radius: 10px;
}

.userProfileBar {
    width: 250px;
    text-align: center;
    padding: 15px;
    background-image: linear-gradient(to top, #94ceca, #5588a3);
    border-radius: 10px;
    margin: 5px; 
}

/* sets the profile image as a circle */
.profileImage {
    border-radius: 50%;
    margin: 5px;
    border: 3px solid white;
}

.homePageContainer {
    display: inline-flex;
    height: 100%;
}

.notifications {
    /* background: white; */
    width: 100%;
    display: inline-flex
}

.searchBooksInput {
    margin-left: auto;
    margin-top: 10px;
    padding: 10px;
}

.loginPageDiv {
    background-image: url('../App/background.jpg');
    background-size: 100%;
    padding: 20px;
    border-radius: 10px;
    margin: 5px;
}

.discussionHeadingMembersDiv {
    display: inline-flex;
    width: 100%;
}

.ul {
    list-style: none;
    height: 85px;
    overflow-y: scroll;
    padding-right: 20px;
    padding-left: 10px;
    }

.showMembers {
    color: orange;
    margin-left: auto;
    padding-right: 100px;
}

.membersProfile {
    width: 25px;
    border-radius: 50%;
}

/* toggles the "see more" information for each club's meetup dates */
.buttonLink {
    background: none;
    border: none;
    cursor: pointer;
    outline:0;
    color: blue;
}

/* toggles the "see more" information for each club's meetup dates */
.buttonLink .lessInfo {
    display: none;
}

/* toggles the "see more" information for each club's meetup dates */
.active .lessInfo {
    display: block;
}
