body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-image: linear-gradient(to top, #d597ce, #f2d6eb);
    width: 20%;
    height: 450px;
    margin: 50px auto;
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 20px;
    color: #5d1451;
    border: black solid 1px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  /* background-color: #ff9100; */
  background-color: #5d1451;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #745c97;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.appContainer {
    /* text-align: center; */
    margin: 30px;
}

.homePage {
    padding: 25px;
    margin: 5px;
    background-color: #facf5a;
    border-radius: 10px;
}

.userProfileBar {
    /* background-color: #facf5a; */
    width: 250px;
    text-align: center;
    padding: 15px;
    background-image: linear-gradient(to top, #94ceca, #5588a3);
    border-radius: 10px;
    margin: 5px;
    color: #dfcdc3;
}

.userProfileHome {
    padding: 15px;
    background-color: green;
}

.profileImage {
    border-radius: 50%;
    /* padding: 5px; */
    margin: 5px;
    border: 5px solid white;
}

.homePageContainer {
    display: inline-flex;
    height: 100%;
}

.notifications {
    /* background: white; */
    width: 100%;
    display: inline-flex
}

.searchBooksInput {
    /* background-color: black; */
    margin-left: auto;
    margin-top: 10px;
    padding: 10px;
}

.loginPageDiv {
    background-image: url('../App/background.jpg');
    background-size: 100%;
    padding: 20px;
    border-radius: 10px;
    margin: 5px;
}
